@model ProductListViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Products";
}

@{
    var authorizationResult = AuthorizationService.AuthorizeAsync(User, "Management");
}

<h2>Our products</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Products.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.First().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.First().Price)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(item.Image.Image);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src="@imgSrc" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)$
                </td>
                <td>
                    <span>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    </span>
                    @if ((await authorizationResult).Succeeded)
                    {
                        <span>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit product info</a> |
                        </span>
                        <span>
                            <a asp-action="EditImage" asp-route-id="@item.Id">Change image</a> |
                        </span>
                    }
                    @if ((await authorizationResult).Succeeded)
                    {
                        <span>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        </span>
                    }
                    <span>
                        <a asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id">Order</a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>
