@model ShopWebsite.Models.CartItemViewModel

@{
    ViewData["Title"] = "Edit";
}
<h3>You are modyfying: </h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CartItem.Id" />
            <div class="form-group">
                @Html.LabelFor(model => model.Product.Name)
                <h4>@Html.DisplayFor(model => model.Product.Name)</h4>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Product.Price)
                <h4> @Html.DisplayFor(model => model.Product.Price)$</h4>
            </div>
            <div class="form-group">
                <label asp-for="CartItem.Quantity" class="control-label"></label>
                <input asp-for="CartItem.Quantity" class="form-control" value="@Model.CartItem.Quantity" />
                <span asp-validation-for="CartItem.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

