@model CartViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewData["Title"] = "Cart";
}
<script>
    function EditQuantity(id, quantity) {
        $.ajax({
            url: 'Cart/Update',
            data: { Id: id, Quantity: quantity }
        }).done(function () {
            alert('Added');
        });
    }
</script>

<h2>Cart</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartItems.First().Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems.First().Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems.First().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems.First().TotalPrice)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)$
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity) |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)$
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Product details</a> |
                    <a asp-action="Remove" asp-route-id="@item.Id">Remove from cart</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <h4>Total value:</h4>
            </td>
            <td />
            <td />
            <td>
                <h4> @Html.DisplayFor(model => model.TotalValue)$</h4>
            </td>
            <td />
        </tr>
    </tfoot>
</table>

<input type="button" value="Checkout" class="btn btn-default" onclick="window.location='@Url.Action("Add", "Orders")'" />
