@model ShopWebsite.Models.Order

@{
    ViewData["Title"] = "Add";
}

<h2>Confirm your address details:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Building)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Building)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Apartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Apartment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden="hidden" asp-for="AddressId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-default" /> | 
                <a asp-action="ChooseAddress">Back</a>
            </div>
        </form>
    </div>
</div>