@model CartViewModel

@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>
<br />
<table class="table">
    <tr>
        <td>
            <h4>Total value:</h4>
        </td>
        <td>
            @Html.DisplayFor(model => model.TotalCartValue)$
        </td>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartItems.First().Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems.First().Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems.First().CartItem.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItems.First().TotalValue)$
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartItem.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)$
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartItem.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CartItem.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CartItem.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
